.retro-overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.55);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 20px;

    z-index: 9999;
}

.retro-modal {
    position: relative;

    width: 560px;
    max-width: 90%;

    background: #10284d;

    border: 4px solid black;

    box-shadow: 14px 14px 0px black;

    padding: 40px 32px;

    font-family: 'Press Start 2P', cursive;

    color: white;
}

/* INNER BORDER */
.retro-modal::before {
    content: "";

    position: absolute;

    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

    border: 3px solid #5fa8ff;

    pointer-events: none;
}

.retro-title {
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    top: -18px;
    left: 50%;

    transform: translateX(-50%);

    background: #10284d;

    color: white;

    border: 3px solid #5fa8ff;

    box-shadow: 4px 4px 0px black;

    padding: 10px 22px;

    font-size: 14px;

    z-index: 2;
}

.retro-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8px;
    text-align: center;

    line-height: 1.8;

    font-size: 12px;
}

.retro-close {
    position: absolute;

    top: 18px;
    right: 22px;

    background: transparent;
    border: none;

    font-size: 34px;

    color: white;

    cursor: pointer;

    font-family: Arial, sans-serif;
}

.retro-close:hover {
    transform: scale(1.1);
}

.retro-button {
    margin-top: 14px;
    margin-inline: 8px;

    background: #f3ea57;

    border: none;

    padding: 10px 22px;

    font-family: 'Press Start 2P', cursive;

    font-size: 11px;

    cursor: pointer;

    box-shadow: 6px 6px 0px black;

    transition: 0.08s;

    min-width: 160px;

    color: black !important;
}

.retro-button:hover {
    transform: translate(-2px, -2px);

    box-shadow: 10px 10px 0px black;
}

.retro-button:active {
    transform: translate(4px, 4px);

    box-shadow: 3px 3px 0px black;
}

.retro-button.secondary {
    background: #6cb4ff;

    color: black !important;
}

.retro-modal h2 {
    font-size: 14px;
    margin-bottom: 14px;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8;
}

.retro-modal h3 {
    font-size: 11px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 10px;
}

.retro-modal p {
    font-size: 11px;
    line-height: 2.2;

    max-width: 850px;
}

.reward-amount {
    font-family: Arial, sans-serif;
    font-size: 38px;

    font-weight: bold;

    color: #ffffff;
}

.retro-modal h1 {
    font-size: 22px;
    margin: 16px 0;
}